HOST=127.0.0.1
PORT=3001
DOCKER_COMPOSE_HOST=127.0.0.1
DOCKER_COMPOSE_PORT=3001
OPENAI_API_KEY=sk-12345678910111213141516asdfjklcreeeeeeee
PROMPT_MAX_LENGTH=300
PROMPT_MAX_DURATION_MS=5000
DATABASES='[{"uri":"neo4j+s://demo.neo4jlabs.com","name":"movies","username":"movies","password":"movies"},{"uri":"neo4j+s://demo.neo4jlabs.com","name":"stackoverflow","username":"stackoverflow","password":"stackoverflow"}]'
FEEDBACK_DATABASE='{"uri": "neo4j+s://iamfeedback.databases.neo4j.io","username":"iamuser","password":"iampassword"}'
