<div class="database-selector">
  <form>
    <select
      title="Selected database"
      name="database"
      hx-post="/schema/"
      hx-trigger="change, load delay:1s"
      hx-target="#schema, #promptOutput"
      hx-swap="outerHTML"
      hx-indicator="main"

    >
      {{#each databases}}
        <option>{{this}}</option>
      {{/each}}
    </select>
    <input type="hidden" name="clientDatabases" />
  </form>
  {{>settings}}
</div>