<div class="database-selector">
  <form>
    <select
      title="Selected database"
      name="database"
      hx-post="/schema/"
      hx-trigger="change"
      hx-target="#schema, #promptOutput"
      hx-indicator="main"
    >
      {{#each databases}}
        <option>{{this}}</option>
      {{/each}}
    </select>
  </form>
</div>