<form
  class="prompt-input"
  id="promptInputForm"
  hx-indicator="#promptInputSubmit"
  hx-post="/ask/"
  hx-include="[name='database']"
  hx-target="#promptOutput, #schema"
  hx-trigger="submit"
  hx-swap="outerHTML"
  hx-on::after-request="handleAskAfterRequest()"
>
  <div class="prompt-input-text">
    <input
      type="text"
      name="prompt"
      placeholder="Type your prompt here!"
      oninput="updatePromptCount({{promptMaxlength}})"
      id="promptInput"
      maxlength="{{promptMaxlength}}"
    />
    <div class="prompt-counter" id="promptCount">
      0/{{promptMaxlength}}
    </div>
    <button
      class="prompt-reset"
      id="promptReset"
      type="button"
      onclick="resetPrompt(this)"
    >
      ×
    </button>
  </div>
  <div class="prompt-input-submit">
    <button id="promptInputSubmit" type="submit">
      <span class="loader" id="promptInputLoadder"></span>
      <span class="text">
        Ask!
      </span>
    </button>
  </div>
</form>